@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import  url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: "Noto-sans" Arial, Helvetica, sans-serif;
}

.bold{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;   
}

header{
   display: flex;
   flex-direction: column;
}

.image{
    background: linear-gradient(
        rgba(0, 0, 0, 0.411),
        rgba(0, 0, 0, 0.308)),
        url(./image/paysage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    height: 36rem;  
}

nav{
    display: flex;
    justify-content: space-around;
}

#idLogo{
    width: 10rem;;
}

#idBascule{
    width: 44rem;
    display: flex;
    justify-content: space-around;
}

.anav{
    font-size: 21px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

button{
    font-size: 21px;
    width: 195px;
    height: 48px;
    margin-top: 22px;
    background-color: #fb2056;
    border: 1px solid #fb2056;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: brown;
}

#wonder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    flex-wrap: wrap;
    margin-bottom: 17rem;
    color: white;
    position: relative; 
}

#wonderful{
    font-size: 5rem;
    margin: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#redbag{
    width: 500px;
    height: 345px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 1100px;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.section2{
    width: 400px;
    height: 300px;
}

.tiret{
    color: #fb2056;
    width: 6rem;
    border: 2px solid #fb2056;
}

footer{
    background-color: black;
    color: white;
    height: 12rem;
    margin-top: -17px;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secF{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.P{
    text-align: center;
    margin: 0px;
    width: 48rem;
    height: 2rem;
}
@media (max-width:780px) {
    body{
        width: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .img {
        width: 100%; 
        background-position: center;
        background-size: cover; 
    } 
    #idBascule{
        display: flex;
        flex-direction: column;
    
    }
    header{}
    
}

@media (max-width:480px) {
     body{
        width: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .img {
        width: 100%; 
        background-position: center;
        background-size: cover; 
    } 
    nav{
        flex-direction: row;
        justify-content: space-between
    };
    #idLogo{
        width: 240px;
    }
    #idBascule{
        display: flex;
        flex-direction: column;
        width: 240px;
    
    }
    .anav{
        justify-content: center;

    }

    #wonderful{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
    }
    #main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    main{
       height: 70rem;
       margin-top: -40px;
       margin-bottom: 65px;
    }
    .section2{  
        margin: 15px;
    }
    #redbag{
        width: 400px;
        height: 234px;
    }
    footer{
        width: 100vh;
    }
    .P{
        width: 460px;
        height: 50px;
        

    }
    
}