@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    
}
header{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   
}
.image{
    background: linear-gradient(
        rgba(0, 0, 0, 0.596),
        rgba(0, 0, 0, 0.7)),
        url(./image/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    
}
nav{
    display: flex;
    justify-content: space-around;
}
#idLogo{
    width: 10rem;;
}
#idBascule{
    width: 44rem;
    display: flex;
    justify-content: space-around;
    

}
a{
    font-size: 21px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
button{
    margin-top: 37px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid red;
    background-color: red;
    border-radius: 2rem;
    height: 2rem;
    color: white;
}
#soule{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    flex-wrap: wrap;
    margin-bottom: 17rem;
}
#colorful{
    font-size: 2rem;
    margin-top: 5rem;
}
.tiret{
    color: red;
    width: 6rem;
    border: 2px solid red;

}
#wonderful{
    font-size: 5rem;
    margin: 1px;
}
main{
    background-color: darkgrey;
    margin-top: -5rem;
}
#id2Soule{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#logo2{
    height: 72px;
    width: 94px;
    margin-top: 2rem;
    margin-right: 5rem;
}
#CaSoule{
    font-size: 20px;
    text-align: center;
    margin-right: 186px;
}
.para2{
    font-size: 16px;
   
}
#Bmc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 141px;
}
#GigaChad{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.imageBg{
    height: 296px;
    width: 475px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 4rem;
    border-radius: 1%;

}
















footer{
    background-color: black;
}
